<section class="user">
  <h1><%= @user.name %></h1>
  <h2><%= mail_to(@user.email) %></h2>
  <% if current_user?(@user) %>
    <div class="actions">
        <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
        <%= link_to "Delete Account", @user, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button delete"  %>
    </div>
  <% end %>
    <%# The line bellow also works, but its better to get @registrations from show action in Users controller %>
    <%# @user.registrations.all.each do |registration| %>
  <% if @registrations.present? %>
    <h3>Registrations</h3>
    <% @registrations.each do |registration| %>
      <div class="registration">
        <div class="image">
          <%= link_to image_tag(registration.event.image_file_name), registration.event %>
        </div>
        <div class="name">
          <%= link_to registration.event.name, registration.event %>
        </div>
        <div class="date">
          <%= time_ago_in_words(registration.created_at) %> ago
        </div>
      </div>
        <%#= registration.event.name %>
    <% end %>
  <% end %>
  <% if @liked_events.present? %>
    <h3>Liked Events</h3>
    <div class="liked-events">
      <table>
        <% @liked_events.each do |event| %>
            <tr>
              <td>
                <%= link_to event.name, event %>
              </td>
              <td>
                <%= link_to image_tag(event.image_file_name), event %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</section>
